# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
*.env
.env
.venv/
venv/
env/

# Flutter / Dart
.dart_tool/
.packages
build/
.pub-cache/
.pub/

# Node / Frontend
node_modules/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
